@import "./variables.scss";

.CreateTodo{
    margin-bottom: $lg-space * 2;
    display: flex;
    flex-direction: column;

    label{
        display: block;
        margin-bottom: $lg-space;
    }

    input{
        padding: $lg-space;
        border-radius: $s-space;
    }

}