.defaultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    /* padding: 6rem; */
    min-width: 300px;
    margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container{
    /* border: 1px solid mediumaquamarine; */
    padding: 20px;
    min-width: 300px;
    overflow: hidden;
}

